@model WardrobeMVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Name</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomName)
        </dd>

        <dt>
            <p>Photo Origin</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomPhoto)
        </dd>

        <dt>
            <p>Type</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomType)
        </dd>

        <dt>
            <p>Primary Colors</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomColor)
        </dd>

        <dt>
            <p>Season</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomSeason)
        </dd>

        <dt>
            <p>Occassion</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomOccassion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
