@model IEnumerable<WardrobeMVC.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Bottoms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{

    <div class="container col-md-4" id="bottomImages">

        @Html.DisplayFor(modelItem => item.BottomName)

        <h1>
            <img src=@Url.Content(item.BottomPhoto)>
        </h1>

        @Html.ActionLink("Edit", "Edit", new { id = item.BottomsID })
        @Html.ActionLink("Details", "Details", new { id = item.BottomsID })
        @Html.ActionLink("Delete", "Delete", new { id = item.BottomsID })

        </div>
        }

