@model WardrobeMVC.Models.Sho

@{
    ViewBag.Title = "Details";
}

<div>
    <h3><b>Shoes:Details</b></h3>
    
    <dl class="dl-horizontal" id="shoesDetails">
        <dt>
            <p>Name</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesName)
        </dd>

        <dt>
            <p>Photo Origin</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesPhoto)
        </dd>

        <dt>
            <p>Type</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesType)
        </dd>

        <dt>
            <p>Primary Colors</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesColor)
        </dd>

        <dt>
            <p>Season</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesSeason)
        </dd>

        <dt>
            <p>Occassion</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesOccassion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
