@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <p>Name</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopName)
        </dd>
        
        <dt>
            <p>Photo Origin</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopPhoto)
        </dd>

        <dt>
            <p>Type</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopType)
        </dd>

        <dt>
            <p>Primary Colors</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopColor)
        </dd>

        <dt>
            <p>Season</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopSeason)
        </dd>

        <dt>
            <p>Occassion</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopOccassion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
