@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Tops</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
        
@foreach (var item in Model)
{

    <div class="container-fluid col-md-4 img-responsive" id="topImages">

        @Html.DisplayFor(modelItem => item.TopName)
        
            <h1>
                <img src=@Url.Content(item.TopPhoto)>
            </h1>
                
             @Html.ActionLink("Edit", "Edit", new { id = item.TopsID })
             @Html.ActionLink("Details", "Details", new { id = item.TopsID })
             @Html.ActionLink("Delete", "Delete", new { id = item.TopsID })
    </div>
   
}    


