@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Accessories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <div class="container col-md-4">

        @Html.DisplayFor(modelItem => item.AccessoriesName)

        <h1>
            <img src=@Url.Content(item.AccessoriesPhoto)>
        </h1>

        @Html.ActionLink("Edit", "Edit", new { id = item.AccessoriesID })
        @Html.ActionLink("Details", "Details", new { id = item.AccessoriesID })
        @Html.ActionLink("Delete", "Delete", new { id = item.AccessoriesID })
        </div>
        }

